@import '../src/assets/main.css';
@import'../src/assets/base.css';


.horizontal-bar-1 {
    position: absolute;
    top: 0px;
    left 0px;
    width: 1920px;
    height: 100px;
    background-color: var(--bb-dark2);
}
.horizontal-bar-2 {
    position: absolute;
    top: 100px;
    left 0px;
    width: 1920px;
    height: 75px;
    background-color: #8BA1C3;
}

.veritcal-bar-1 {
    position: absolute;
    top: 0px;
    left: 100px;
    width: 25px;
    height: 1080px;
    background-color: var(--bb-white);
}

.veritcal-bar-2 {
    position: absolute;
    top: 0px;
    left: 225px;
    width: 25px;
    height: 1080px;
    background-color: var(--bb-white);
}

.welcome {
    position: absolute;
    top: 717px;
    left: 416px;
    text-align: right;
    font: normal normal 900 150px/178px Rubik;
    letter-spacing: 0px;
    color: var(--bb-light2);
}


.start{
    position: absolute;
    top: 895px;
    left: 446px;
    text-align: right;
    font: normal normal 900 75px/89px Rubik;
    letter-spacing: 0px;
    color: #C3D2EA;
    z-index: 1;
}

.button-start {
    position: absolute;
    top: 895px;
    left: 416px;
    width: 556px;
    height: 89px;
    background-color: var(--bb-white) 0% 0% no-repeat padding-box;
    background: #F2F2F2 0% 0% no-repeat padding-box;
    border: 1px solid var(--bb-white);
    border-radius: 70px;
    
}

.settings {
    position: absolute;
    top: 895px;
    left: 1447px;
    text-align: right;
    font: normal normal 900 75px/89px Rubik;
    letter-spacing: 0px;
    color: #C3D2EA;
    z-index: 1;
}

.button-settings {
    position: absolute;
    top: 895px;
    left: 1422px;
    width: 398px;
    height: 89px;
    background-color: var(--bb-white) 0% 0% no-repeat padding-box;
    background: #F2F2F2 0% 0% no-repeat padding-box;
    border: 1px solid var(--bb-white);
    border-radius: 70px;
}

.hidden {
    font: normal normal 900 150px/178px Rubik;
    letter-spacing: 0px;
    color: var(--bb-light2);
    opacity: 0;
}

.logo-pawn {
    position: fixed;
    top: 750px;
    left: 634px;
    width: 51px;
    height: 107px;
    fill: var(--bb-light2);
}

.logo-pawn path {
    
    
}