@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


/* color palette from <https://github.com/vuejs/theme> */
:root {
/* Bryonna's color pallet */
    --bb-accent-blue: #E0E9F5;
    --bb-white: #F2F2F2;
    --bb-black: #252323;
    
    --bb-dark1: #385A8C;
    --bb-dark2: #32476A;
    
    --bb-light2: #8398B9;
    --bb-light1: #6584B7;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--bb-accent-blue);
  --color-text: var(--bb-dark1);
  --light-square: var(--bb-white);
  --dark-square: var(--bb-black);
  --light-piece: var(--bb-light2);
  --dark-piece: var(--bb-dark2);

  --section-gap: 160px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Rubik,
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
h1 {
  font-size: 40px;
  font-weight: 900;
}

