@import './base.css';

.board {
  width: 860px;
  height: 860px;
}

.board-row {
  display: flex;
  flex-wrap: nowrap;
}

.board-square {
  height: 100px;
  width: 100px;
}

.board-row-label p, .board-column-label p {
    color: var(--bb-black);
}


.board-row-label {
  width: 30px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}

.board-column-label {
  width: 100px;
  height: 30px;
  text-align: center;
}

.board-column-label:nth-child(1) {
  margin-left: 30px
}

.board-square p {
  text-align: center;
  line-height: 100px;
}

.board-square.selected {
  border: 3px solid red;
}

.board-square-label,
.board-square:hover .board-piece {
  display: none;
}

.board-square:hover .board-square-label {
  display: block;
}

.board-row:nth-child(odd) .board-square:nth-child(odd),
.board-row:nth-child(even) .board-square:nth-child(even) {
  background-color: var(--light-square);
  color: var(--dark-square);
}

.board-row:nth-child(odd) .board-square:nth-child(even),
.board-row:nth-child(even) .board-square:nth-child(odd) {
  background-color: var(--dark-square);
  color: var(--light-square);
}

.board .piece {
  display: block;
  margin: auto;
  margin-top: 10px;
  height: 75px;
}

.dark {
    fill: var(--dark-piece);
    stroke-width: 0px;
}

.light {
    fill: var(--light-piece);
    stroke-width: 0px;
}

.captured-pieces {
  display: flex;
}

.jail {
  display: flex;
}
.jail .piece {
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-left: 10px;
  height: 75px;
}


@media (max-width: 1200px) {
  .board {
    width: 460px;
    height: 460px;
  }

  .board-square {
    height: 50px;
    width: 50px;
  }
  
  .board-row-label {
    width: 30px;
    height: 50px;
    line-height: 50px;
  }
  
  .board-column-label {
    width: 50px;
    height: 30px;
  }

  .board-square p {
    line-height: 50px;
  }
    .board .piece {
        margin-top: 5px;
        height: 40px;
    }
} 
.horizontal-bars div{
  position: fixed;
  left: 0px;
  width: 100%;
}

.horizontal-bar-1 {
  position: absolute;
  top: 0px;
  height: 10%;
  background-color: var(--bb-dark2);
  
}
.horizontal-bar-2 {
  position: absolute;
  top: 10%;
  height: 12%;
  background-color: #8BA1C3;
}


.vertical-bars div {
  position: fixed;
  top: 0px;
  width: 25px;
  height: 100%;
  background-color: var(--bb-white);
}
.veritcal-bar-1 {
  left: 100px;
}

.veritcal-bar-2 {
  left: 225px;
}

.splash-content {
  position: absolute;
  top: 55%;
  left: 300px;
  width: 942px;
  height: 300px;
}


.welcome {
  position: relative;
  text-align: right;
  font: normal normal 900 100px/80px 'Rubik';
  letter-spacing: 0px;
  color: var(--bb-light2);
  width: 942px;
}


.join{
  position: relative;
  text-align: right;
  left: 30px;
  font: normal normal 900 45px/60px 'Rubik';
  letter-spacing: 0px;
  color: #C3D2EA;
  z-index: 1;
  display: inline;
}

.button-join {
  position: relative;
  width: 363px;
  height: 63px;
  background-color: var(--bb-white) 0% 0% no-repeat padding-box;
  background: #F2F2F2 0% 0% no-repeat padding-box;
  border: 1px solid var(--bb-white);
  border-radius: 70px;
  top: -80px;
}

.settings {
  position: relative;
  left: 30px;
  text-align: right;
  font: normal normal 900 45px/60px 'Rubik';
  letter-spacing: 0px;
  color: #C3D2EA;
  z-index: 1;
  display: inline;
}

.button-settings {
  position: relative;
  left: 677px;
  width: 268px;;
  height: 63px;
  background-color: var(--bb-white) 0% 0% no-repeat padding-box;
  background: #F2F2F2 0% 0% no-repeat padding-box;
  border: 1px solid var(--bb-white);
  border-radius: 70px;
  top: -144px;
}

.hidden {
  font: normal normal 900 150px/178px 'Rubik';
  letter-spacing: 0px;
  color: var(--bb-light2);
  opacity: 0;
}

.logo-pawn {
  position: relative;
  top: -116px;
  left: 152px;
  width: 38px;
  fill: var(--bb-light2);
  z-index: 1;
}
