@import './base.css';


.board {
  min-width: 805px;
}

.board-row {
  display: inline-block;
}

.board-square {
  height: 100px;
  width: 100px;
  margin: none;
}

.board-row:nth-child(odd) .board-square:nth-child(odd),
.board-row:nth-child(even) .board-square:nth-child(even) {
  background-color: #FFFFFF;
}

.board-row:nth-child(odd) .board-square:nth-child(even),
.board-row:nth-child(even) .board-square:nth-child(odd) {
  background-color: #000000;
}

