@import './base.css';


.board {
  width: 860px;
  height: 860px;
}

.board-row {
  display: flex;
  flex-wrap: nowrap;
}

.board-square {
  height: 100px;
  width: 100px;
    padding-top: 10px;
}

.board-row-label {
  width: 30px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}

.board-column-label {
  width: 100px;
  height: 30px;
  text-align: center;
}

.board-column-label:nth-child(1) {
  margin-left: 30px
}

.board-square p {
  text-align: center;
  line-height: 100px;
}

.board-square-label,
.board-square:hover .board-piece {
  display: none;
}

.board-square:hover .board-square-label {
  display: block;
}

.board-row:nth-child(odd) .board-square:nth-child(odd),
.board-row:nth-child(even) .board-square:nth-child(even) {
  background-color: #FFFFFF;
  color: #000000;
}

.board-row:nth-child(odd) .board-square:nth-child(even),
.board-row:nth-child(even) .board-square:nth-child(odd) {
  background-color: #000000;
  color: #FFFFFF;
}

.pawn {
    display: block;
    margin: auto;
    height: 75px;
}

.black-piece {
    fill: #504B43;
    stroke-width: 0px;
}


@media (max-width: 1200px) {
  .board {
    width: 460px;
    height: 460px;
  }

  .board-square {
    height: 50px;
    width: 50px;
  }
  
  .board-row-label {
    width: 30px;
    height: 50px;
    line-height: 50px;
  }
  
  .board-column-label {
    width: 50px;
    height: 30px;
  }

  .board-square p {
    line-height: 50px;
  }
}